.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    z-index: 9;
}

.navbar > .nav-top {
    width: 100%;
    border-bottom: .1px solid #ced4da;
    background-color: #fff;
}

.navbar > .nav-top > .container {
    min-height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar > .nav-top > .container > h5 {
    margin-bottom: 0 !important;
    color: #3d3d3d;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}

.navbar > .nav-top > .container > .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.navbar > .nav-top > .container > .hamburger > span {
  width: 20px;
  height: 1.6px;
  background-color: #9f9f9f;
  display: block;
}

.navbar > .nav-bottom {
    width: 100%;
    border-top: .1px solid #ced4da;
    border-bottom: .1px solid #ced4da;
}

.navbar > .nav-bottom > .container {
    height: 30px;
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navbar > .nav-bottom > .container > .anchor {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.navbar > .nav-bottom > .container > .anchor:hover,
.navbar > .nav-bottom > .container > .dropdown > .top:hover {
    background-color: #9f9f9f;
    color: #fff;
}

.navbar > .nav-bottom > .container > .dropdown > .top:hover > .anchor,
.navbar > .nav-bottom > .container > .dropdown > .top:hover > .bi-chevron-down {
    color: #fff;
}

.navbar > .nav-bottom > .container > .dropdown {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.navbar > .nav-bottom > .container > .dropdown > .top {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.navbar > .nav-bottom > .container > .dropdown > .bottom {
    position: absolute;
    border: .1px solid #ced4da;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    margin-top: -30px;
    opacity: 0;
    transition: .4s;
    z-index: -1;
    background-color: #fff;
}

.navbar > .nav-bottom > .container > .dropdown > .bottom > .anchor {
  display: flex;
  align-items: center;
  color: #3d3d3d;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 10px 30px 10px 10px;
}

.navbar > .nav-bottom > .container > .dropdown > .bottom > .anchor:first-child {
  padding-bottom: 0;
}

.navbar > .nav-bottom > .container > .dropdown > .top > .anchor,
.detail-contents > .container > .route > .anchor {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(180deg);
  }
}

.navbar > .nav-bottom > .container > .dropdown > .top > .bi-chevron-down {
  color: #3d3d3d;
}

.navbar > .nav-bottom > .container > .dropdown.active > .top > .bi-chevron-down {
  animation: rotate .4s ease alternate forwards;
}

.navbar > .nav-bottom > .container > .dropdown.active > .bottom {
  visibility: visible;
  margin-top: 35px;
  opacity: 1;
}

.home-contents > .container,
.detail-contents > .container {
  /* border: 1px solid red; */
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-contents > .container > .slider {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.home-contents > .container > .slider > .card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: .1px solid #ced4da;
  position: relative;
  min-width: 250px;
  overflow: hidden;
}

.home-contents > .container > .slider > .card > img {
  width: 100%;
}

.home-contents > .container > .slider > .card > .anchor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.home-contents > .container > .pagination-container,
.home-contents > .container > .latest-news-contents > .pagination-container,
.home-contents > .container > .metropolis-contents > .pagination-container {
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.home-contents > .container > .pagination-container > button,
.home-contents > .container > .latest-news-contents > .pagination-container > button,
.home-contents > .container > .metropolis-contents > .pagination-container > button {
  padding: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  outline: none;
}

.home-contents > .container > .pagination-container > button:hover,
.home-contents > .container > .latest-news-contents > .pagination-container > button:hover,
.home-contents > .container > .metropolis-contents > .pagination-container > button:hover {
  background-color: #f9f9f9;
}

.home-contents > .container > .pagination-container > button > .bi-chevron-left,
.home-contents > .container > .pagination-container > button > .bi-chevron-right,
.home-contents > .container > .latest-news-contents > .pagination-container > button > .bi-chevron-left,
.home-contents > .container > .latest-news-contents > .pagination-container > button > .bi-chevron-right,
.home-contents > .container > .metropolis-contents > .pagination-container > button > .bi-chevron-left,
.home-contents > .container > .metropolis-contents > .pagination-container > button > .bi-chevron-right {
  font-size: 14px;
  color: #676767;
}

.home-contents > .container > .latest-news-contents {
  width: 100%;
  min-height: 100px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-contents > .container > .latest-news-contents > .title,
.home-contents > .container > .metropolis-contents > .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-contents > .container > .latest-news-contents > .title > .line,
.home-contents > .container > .metropolis-contents > .title > .line {
  flex: 1;
  height: 1px;
  background-color: rgba(53, 129, 252, .7);
}

.home-contents > .container > .latest-news-contents > .title > p,
.home-contents > .container > .metropolis-contents > .title > p {
  font-size: 14px;
  color: #3d3d3d;
  margin-bottom: 0 !important;
  letter-spacing: 1px;
  font-weight: 500;
}

.home-contents > .container > .latest-news-contents > .slider-2,
.home-contents > .container > .metropolis-contents > .slider-3 {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow: hidden;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

.home-contents > .container > .latest-news-contents > .slider-2 > .card,
.home-contents > .container > .metropolis-contents > .slider-3 > .card {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  /* border: 1px solid red */
}

.home-contents > .container > .latest-news-contents > .slider-2 > .card > img,
.home-contents > .container > .metropolis-contents > .slider-3 > .card > img {
  width: 100%;
  object-fit: cover !important;
  height: auto !important;
}

.home-contents > .container > .latest-news-contents > .slider-2 > .card > .desc,
.home-contents > .container > .metropolis-contents > .slider-3 > .card > .desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.home-contents > .container > .latest-news-contents > .slider-2 > .card > .desc > .anchor,
.home-contents > .container > .latest-news-contents > .slider-2 > .card > .desc > p,
.home-contents > .container > .metropolis-contents > .slider-3  > .card > .desc > .anchor,
.home-contents > .container > .metropolis-contents > .slider-3  > .card > .desc > p {
  color: #3d3d3d;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
}

.home-contents > .container > .latest-news-contents > .slider-2 > .card > .desc > p,
.home-contents > .container > .metropolis-contents > .slider-3 > .card > .desc > p {
  font-size: 13px;
  font-weight: lighter;
}

.home-contents > .container > .metropolis-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
}

.sidebar-contents {
  position: fixed;
  z-index: 8;
  top: 50px;
  left: -100vw;
  right: 100vw;
  bottom: 0;
  background-color: #fff;
  transition: .4s;
  display: none;
}

.sidebar-contents.active {
  left: 0;
  right: 0;
}

.sidebar-contents > .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.sidebar-contents > .container > .anchor {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: #3d3d3d;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

.sidebar-contents > .container > .dropdown-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 2;
}

.sidebar-contents > .container > .dropdown-2 > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

.sidebar-contents > .container > .dropdown-2 > .top > .anchor {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

.sidebar-contents > .container > .dropdown-2 > .top > .bi-chevron-down {
  color: #3d3d3d;
}

.sidebar-contents > .container > .dropdown-2.active > .top > .bi-chevron-down {
  animation: rotate .4s ease alternate forwards;
}

.sidebar-contents > .container > .dropdown-2 > .bottom {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.sidebar-contents > .container > .dropdown-2 > .bottom > .anchor {
  padding: 10px;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

@keyframes down {
  0% {
    margin-top: -30px;
  } 100% {
    margin-top: 0px;
  }
}

.sidebar-contents > .container > .dropdown-2.active > .bottom {
  position: relative;
  opacity: 1;
  visibility: visible;
  animation: down .4s ease alternate forwards;
}

.home-contents > .container > .line {
  width: 100%;
  height: .1px;
  background-color: #ced4da;
}

.detail-contents > .container > .route {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  gap: 10px;
}

.detail-contents > .container > .main-contents {
  width: 100%;
  display: flex;
  gap: 10px;
}

.detail-contents > .container > .main-contents > .main-detail-contents {
  flex: 1;
  /* border: .1px solid #ced4da; */
}

/* footer */
footer {
  background-color: #444544;
  padding: 50px 0;
}
  
footer > .container {
  /* min-height: 100px; */
  /* border: 1px solid red;
  background-color: red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  justify-content: space-between;
  gap: 50px;
}

footer > .container > .column {
  /* min-width: 200px; */
  /* min-height: 100px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer > .container > .column > .item {
  display: flex;
  /* border: 1px solid red; */
  gap: 10px;
}

footer > .container > .column > .item > h5 {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0 !important;
}

footer > .container > .column > .item:first-child {
  align-items: center;
}

footer > .container > .column > .item > img {
  width: 120px;
  object-fit: cover;
}

footer > .container > .column > .item > .desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer > .container > .column > .item > .desc > .title,
footer > .container > .column > .item > .desc > .date,
footer > .container > .column > .item > p {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 0 !important;
}

footer > .container > .column > .item > .desc > .date {
  font-size: 13px;
  font-weight: lighter;
}
  
/* responsive */

/* desktop size */
@media screen and (max-width: 1200px) {
  .navbar > .nav-top > .container {
    justify-content: space-between;
  }

  .navbar > .nav-top > .container > .hamburger,
  .sidebar-contents {
    display: flex;
  }

  body.active {
    overflow: hidden;
  }

  .navbar > .nav-bottom {
    display: none;
  }

  .home-contents > .container {
    margin-top: 70px;
  }
}

/* tablet size */
@media screen and (max-width: 992px) {
  footer > .container  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .home-contents > .container > .latest-news-contents > .slider-2,
  .home-contents > .container > .metropolis-contents > .slider-3 {
    min-width: 100%;
  }

  .detail-contents > .container > .route {
    flex-wrap: wrap;
  }
}

/* mobile size */
@media screen and (max-width: 576px) {
  footer > .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 2px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* detail */
.content nav {
  color: gray;
  padding: 10px;
  margin-top: 40px;
}

.content nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  color: gray;
}

.content nav ul li a {
  color: gray;
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.content {
  width: 70%;
  margin-top: 30px;
}

.content h1 {
  font-size: 24px;
}

.image-caption {
  font-style: italic;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  border: 0;
  margin-top: 20px;
  background-color: white;
}
.navigation-buttons button {
  border: 0;
  background-color: white;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 30px;
}

.author-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.author-info p {
  margin: 0;
  font-weight: bold;
}

.author-info a {
  display: block;
}

.social-media {
  margin-top: 2px;
}

.social-media a {
  margin-right: 10px;
}

.latest-news {
  border-left-color: gray;
  width: 15%;
  margin-top: 80px;
  margin-right: 50px;
}



